.pag-inicial{
        background-color: rgb(242, 194, 203);
        text-align: center;
    }

body{
    background-color: rgb(242, 194, 203);
    font-family: Georgia, 'Times New Roman', Times, serif;

}


.botoes a, button{
    text-decoration: none; /*tirar o sublinhado*/
    color: black;
    background-color:  rgb(248, 156, 173);/*cor*/
    font-size: larger; /*mudar tamanho*/
    padding: 10px; /*adiciona uim camppo ao redor do texto*/
    border-radius: 15px; /*arredondar a borda*/
    border: none;
} /*EU TE AMO*/

.botoes{
    gap: 20px; /*adiciona espaço entre os botões*/
}

.caixa-de-login{
    /*muda o fundo*/
    background-color:  rgb(245, 217, 222);
    /*adiciona espaço dentro*/
    padding: 20px;
    /*borda arredondada*/
    border-radius: 20px;
    /*espaço em cima (por fora)*/
    margin: 100px;
    width: 20%;
    margin-top: 15%;
    
}

body.login{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.caixa-de-login input{
    border-radius: 10px;
    border: solid;
    border-width: 1px;
    font-size: 1.1rem;
}

a{
    color: black;
    text-decoration: none;
}

.caixa-de-cadastro{
     /*muda o fundo*/
     background-color:  rgb(245, 217, 222);
     /*adiciona espaço dentro*/
     padding: 20px;
     /*borda arredondada*/
     border-radius: 20px;
     /*espaço em cima (por fora)*/
     margin: 100px;
     width: 20%;
     margin-top: 11%;
    
}

    
body.cadastro{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.caixa-de-cadastro input{
    border-radius: 10px;
    border: solid;
    border-width: 1px;
    font-size: 1.1rem;
}

.escolher-produto{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.inteiro{
    display: flex;
    width: 120%;
}

.lateral{
    width: 200px;
}

.lateral img{
   width: 100%; 
}

.barra-pesquisar{
    height: 70px;
    display: flex;
justify-content: center;
align-items: center;
width: 100%;
}

.meio-topo{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barra-pesquisar input{
    border-radius: 10px;
    width: 60%;
}

.caixa-de-pagamento{
     /*muda o fundo*/
     background-color:  rgb(245, 217, 222);
     /*adiciona espaço dentro*/
     padding: 20px;
     /*borda arredondada*/
     border-radius: 20px;
     /*espaço em cima (por fora)*/
     margin: 100px;
     width: 10%;
     margin-top: 15%;
     flex-direction: column;
     display: flex;
     align-items: center;
     
}

img:hover{
    transform: scale(1.05);
}

.caixa-do-cartão{
 /*muda o fundo*/
 background-color:  rgb(245, 217, 222);
 /*adiciona espaço dentro*/
 padding: 20px;
 /*borda arredondada*/
 border-radius: 20px;
 /*espaço em cima (por fora)*/
 margin: 100px;
 width: 20%;
 margin-top: 11%;
 flex-direction: column;
 display: flex;
 align-items: center;
 
}

.caixa-do-cartão input{
    text-decoration: none; /*tirar o sublinhado*/
    color: black;
    background-color:  rgb(255, 223, 228);/*cor*/
    font-size: larger; /*mudar tamanho*/
    padding: 10px; /*adiciona uim camppo ao redor do texto*/
    border-radius: 15px; /*arredondar a borda*/
    border-color: black;
}
body.qrcode {
font-family: Arial, sans-serif;
margin: 20px;
align-items: center;
justify-content: center;
        
}
.qrcode {
            margin-top: 20px;
            align-items: center;
}

.tela-qrcode{
    display: flex;
    flex-direction: column;
    align-items: center;
}