<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="static/estilo.css">
    <link rel="shortcut icon" href="static/logo.png" type="image/x-icon">
</head>

<body class="cadastro">
    <div class="inteiro">
        <div class="lateral">
            <img src="static/Primeiro_Raio_de_Sol__2_-removebg-preview.png" alt="">
        </div>

        <div class="caixa-de-cadastro">
            <h2>Crie sua conta</h2>
            <p>Usuário</p>
            <!--Adiciona ENTRADA DE TEXTO-->
            <input type='text' name='usuário' placeholder="Digite seu usário">
            <p>E-mail</p>
            <!--Adiciona ENTRADA DE SENHA-->
            <input type='text' name='E-mail' placeholder="Digite seu usuário">
            <p>Senha</p>
            <input type='text' name='password' placeholder="Digite sua senha">
            <p>Confirme sua senha</p>
            <input type='text' name='password' placeholder="Digite sua senha">
            <br>
            <br>
            <br>
            <div class="botoes">
                <a href="/escolherproduto">Entrar</a>
            </div>
            </input>
        </div>
</body>

</html>