<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="shortcut icon" href="logo.png" type="image/x-icon">
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
  <div class="pag-inicial">
    <img src="Primeiro_Raio_de_Sol__2_-removebg-preview.png">
    <h1></h1>

    <div class="botoes">
        <a href="login.html">Fazer Login</a>
        <a href="cadastro.html">Cadastrar-se</a>
    </div>
  </div>  
</body>
</html>