<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/estilo.css">
    <link rel="shortcut icon" href="static/logo.png" type="image/x-icon">
</head>

<body class="login">
    <div class="inteiro">
        <div class="lateral">
            <img src="static/Primeiro_Raio_de_Sol__2_-removebg-preview.png" alt="">
        </div>
        <div class="caixa-de-login">
            <form action="/verificar-login" method="POST">
                <h2>Login</h2>
                <p>Usuário</p>
                <!--Adiciona ENTRADA DE TEXTO-->
                <input type='text' id = 'usuário' name='usuário'>
                <p>Senha</p>
                <!--Adiciona ENTRADA DE SENHA-->
                <input type='password' id = 'senha' name='senha'>
                <br>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="resposta">
                    {% for message in messages %}
                    <p>{{( message )}}</p>
                    {% endfor %}
                </div>
                    {% endif %}
                    {% endwith %}
                    {% block body %}{% endblock %}
                <br>
                <br>
                <div class="botoes">
                    <button type="submit">Entrar</button>

                </div>
            </form>
            </input>
        </div>
</body>

</html>